<<<<<<< HEAD
name: build with dockerfile
=======
name: build with Dockerfile
>>>>>>> 543c9a6b21f1199a307ca6b9d5e2022b5a766dc2
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: login to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.3ased05
          push: true
          tags: ghcr.io/mr3lacc/3ased05:latest
